HEAD/ez-tools/src/main/resources/ws/wsdoc.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="foi-wsdoc"
           targetNamespace="foi-wsdoc" elementFormDefault="qualified">

    <xs:element name="wsDocProcessRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="params" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="wsDocProcessResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="msg" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>